#profile-posts-container2 {
    background: linear-gradient(135deg, #000000e5 0%, #1a1a1a 50%, #000000e7 100%);
    min-height: 300px;
    width: 293px;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}
#ppGenre2{
    margin-bottom: -10px;
    align-self: center;
}
#pp-play-btn2{
    margin-bottom: 10px;
}