.sidebar {
    flex: 0 0 250px;
    border-right: 5px solid #ccc;
    padding: 69px 1rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.37);
    
  }
  
  .sidebar__title {
    margin-top: 0;
  }
  
  .sidebar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar__list li {
    margin: 0.5rem 0;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .sidebar__list li:hover {
    color: #3f51b5;
  }
  
  
  