  .feed-page{
    
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  .feed {
    overflow: auto;
    margin-top: 60px;
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
    
  }
  .feed-item {
    background-color: #fcfcfc;
    border: 2px solid #161816;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    transition: box-shadow 0.2s;
    transition: background-color 0.2s;
  }
  
  .feed-item:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    background-color: #e9e9e9;
    
  }
  
  .feed-item__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: black;
  }
  
  .feed-item__title {
    font-weight: 740;
    font-size: 25px;
    margin-bottom: -20px;
  }
  #feed-item__author{
    color: #a80e0e;
    padding-left: 5px;
    font-weight: 600;
    font-style: oblique;
  }
  
  .feed-item__timestamp {
    font-size: 0.9rem;
    color: #353535;
  }
  
  .feed-item__content {
    font-size: 1rem;
    color: #333;
  }
  .feed-page {
    display: flex;
    flex-direction: column; /* Header at the top, main content below */
    height: 100vh;
  }
  
  .feed-layout {
    display: flex;
    flex: 1; /* Grow to fill remaining space after Header */
    overflow: hidden; /* Prevent extra scrollbars */
  }
  #play-section{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #song-name{
    color: black;
  }
  #play-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -4px;
  }
  .feat{
    font-size: 10x;
  }
  #features-section{
    color: black;
    display: flex;
    align-items: center;
    margin-top: -30px;
    padding-left: 1px;
  }
  #features-list{
    display: flex;
    gap: 4px;
    list-style: none;
    margin-left: -30px;
  }
  #stats{
    display: flex;
    gap: 40px;
    align-items: center;
    color: black;
  }
  #spotName,
  #feedName{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #commentSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #161816;
    list-style: none;
  }
  
  #commentButton:hover{
    color: rgb(68, 75, 173);
    transition: .2s;
    cursor: pointer;
  }
  #commentsHeader{
    color: black;
    font-weight: bold;
  }